<form class="form-horizontal" id="auto-reply-form" enctype="multipart/form-data">
  <div class="form-group">
    <label for="activity_cat_id" class="col-sm-3 col-md-3 col-lg-2 control-label">
      标记
      <span class="symbol required">*</span>
    </label>
    <div class="col-sm-8 col-md-8 col-lg-6">
      <input class="form-control" name="auto_reply[id]" value="<%= @auto_reply.id %>" style="display: none">
      <input class="form-control" name="auto_reply[flag_string]" value="<%= @auto_reply.flag_string %>" placeholder="* 代表任意内容">
    </div>
  </div>
  <div class="form-group">
    <label for="activity_cat_id" class="col-sm-3 col-md-3 col-lg-2 control-label">
      回复内容
      <span class="symbol required">*</span>
    </label>
    <div class="col-sm-8 col-md-8 col-lg-6">
      <input class="form-control" name="auto_reply[content]" value="<%= @auto_reply.content %>">
    </div>
  </div>
  <div class="form-group">
	  <!--TODO 需要更好的体验-->
    <label for="activity_cat_id" class="col-sm-3 col-md-3 col-lg-2 control-label">
      选择用户
      <span class="symbol required">*</span>
    </label>
    <div class="col-sm-8 col-md-8 col-lg-6">
      <input class="form-control" id="friend-autocomplete" name="auto_reply[user_str]" value="<%= @auto_reply.user_str %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">确定</button>
      <a class="btn btn-danger" href="/admin/weixins/edit?wxuin=<%= @wxuin %>" >取消</a>
    </div>
  </div>
</form>